
<ion-header>
        <ion-navbar>
        </ion-navbar>
</ion-header>

<ion-content>
          <ion-segment color="danger" [(ngModel)]="drinkSwitch" (ionChange)="segmentChanged()">
            <ion-segment-button value="soda">
              Soda
            </ion-segment-button>
            <ion-segment-button value="bchaud">
              Boissons chaudes
            </ion-segment-button>
            <ion-segment-button value="cocktails">
              Cocktails
            </ion-segment-button>
          </ion-segment>

        <div [ngSwitch]="drinkSwitch">
          <ion-list *ngSwitchCase="'soda'">
            <ion-item *ngFor ="let drink of soda">
                <button (click)="consulter(drink)">
                    <ion-thumbnail item-start>
                        <img src="{{drink.icon}}">
                    </ion-thumbnail>
                </button>
              <h2>{{drink.name}}</h2>
              <button>Add</button>
            </ion-item>
          </ion-list>
      
          <ion-list *ngSwitchCase="'cocktails'">
            <ion-item *ngFor ="let drink of cocktails">
              <button (click)="consulter('pupu')">
                  <ion-thumbnail item-start>
                      <img src="{{drink.icon}}">
                  </ion-thumbnail>
              </button>
            <h2>{{drink.name}}</h2>
            <button>Add</button>
          </ion-item>
          </ion-list>
      
          <ion-list *ngSwitchCase="'bchaud'">
            <ion-item *ngFor ="let drink of bchaud">
              <button (click)="consulter('pupu')">
                  <ion-thumbnail item-start>
                      <img src="{{drink.icon}}">
                  </ion-thumbnail>
              </button>
            <h2>{{drink.name}}</h2>
            <button>Add</button>
          </ion-item>
          </ion-list>
        </div>
      </ion-content>